Repository tnlong1997/pmcode, pull requests merged in 2018-05, with the labels that each got.

#39 Update error codes on user protected routes
  .gitignore
  pmserver/controllers/userController.js
  pmserver/routes/users_protected.js
Labels: API-doc

#40 Update status codes
  pmserver/controllers/itemController.js
  pmserver/controllers/orderController.js
  pmserver/controllers/userController.js
  pmserver/routes/items.js
  pmserver/routes/orders.js
  pmserver/routes/users_public.js
Labels: API-doc, Item, Order, User

#42 Handle can't find user with given ID, update token error code
  pmserver/controllers/userController.js
  pmserver/middlewares/tokenAuthentication.js
Labels: User, bug

#44 Test users protected routes
  pmserver/controllers/userController.js
  pmserver/test/unittest/public/variables/users_test_data.js
  pmserver/test/unittest/routes/users_protected.test.js
  pmserver/test/unittest/routes/users_public.test.js
Labels: test

#45 Add item_helper methods
  pmserver/controllers/itemController.js
  pmserver/controllers/orderController.js
  pmserver/middlewares/helpers/item_helpers.js
Labels: Item, Order

#47 Running test synchronously
  pmserver/test/mocha.opts
  pmserver/test/unittest/routes/users_protected.test.js
  pmserver/test/unittest/routes/users_public.test.js
Labels: test

#49 Rename "middlewares" to "middleware"
  pmserver/controllers/itemController.js
  pmserver/controllers/orderController.js
  pmserver/middleware/helpers/item_helpers.js
  pmserver/middleware/tokenAuthentication.js
  pmserver/routes/protected.js
Labels: setup

#50 Send email to user when sign up
  pmserver/controllers/userController.js
  pmserver/middleware/emails/sign-up-email.js
  pmserver/package-lock.json
  pmserver/package.json
  pmserver/routes/users_public.js
Labels: User, enhancement

#54 Add Search functionality; Add Pagination; Add Item status.
  pmserver/app.js
  pmserver/controllers/itemController.js
  pmserver/controllers/orderController.js
  pmserver/controllers/searchController.js
  pmserver/middleware/helpers/item_helpers.js
  pmserver/middleware/helpers/search_helpers.js
  pmserver/models/itemModel.js
  pmserver/models/orderModel.js
  pmserver/routes/search.js
Labels: search

#59 Add allowed domains using cors
  pmserver/app.js
  pmserver/package-lock.json
  pmserver/package.json
Labels: setup

#57 Add API doc for search routes
  pmserver/routes/search.js
Labels: API-doc

#60 Remove respond sending in item helpers
  pmserver/controllers/itemController.js
  pmserver/controllers/orderController.js
  pmserver/middleware/helpers/item_helpers.js
Labels: Item, Order, enhancement

#61 Add Travis build status to readme.md
  README.md
Labels: setup
