Repository tnlong1997/pmcode, pull requests merged in 2018-04, with the labels that each got.

#4 Add user model and user controller for display user list and sign up new user
  pmserver/app.js
  pmserver/controllers/userController.js
  pmserver/models/userModel.js
  pmserver/package-lock.json
  pmserver/package.json
  pmserver/routes/users.js
Labels: User

#6 User login and protect route (need token to authenticate)
  pmserver/app.js
  pmserver/config/secret.js
  pmserver/controllers/userController.js
  pmserver/middlewares/tokenAuthentication.js
  pmserver/models/userModel.js
  pmserver/package-lock.json
  pmserver/package.json
  pmserver/routes/protect.js
  pmserver/routes/users.js
Labels: User

#7 Set up Order routes and Order-Item data schemas.
  pmserver/app.js
  pmserver/controllers/orderController.js
  pmserver/models/itemModel.js
  pmserver/models/orderModel.js
  pmserver/package-lock.json
  pmserver/package.json
  pmserver/routes/orders.js
Labels: Item, Order

#9 Add lint test
  pmserver/.eslintrc.json
  pmserver/package-lock.json
  pmserver/package.json
Labels: setup

#10 Update eslint config
  pmserver/.eslintrc.json
Labels: setup

#12 Update eslint config
  pmserver/.eslintrc.json
Labels: setup

#17 Add html and css lint test
  .htmlhintrc
  .stylelintrc
  package-lock.json
  package.json
  scripts/run-tests.bash
Labels: setup

#19 Add Edit and Delete function for Order pages
  pmserver/controllers/orderController.js
  pmserver/routes/orders.js
Labels: Item, Order

#21 Delete user and change user's password
  pmserver/controllers/orderController.js
  pmserver/controllers/userController.js
  pmserver/routes/users.js
Labels: User

#22 Add special routes to access items
  pmserver/app.js
  pmserver/controllers/itemController.js
  pmserver/routes/items.js
Labels: Item

#23 Add createdAt and updatedAt for users
  pmserver/models/userModel.js
Labels: User

#26 Test for sign up routes
  pmserver/app.js
  pmserver/config/database.js
  pmserver/package-lock.json
  pmserver/package.json
  pmserver/test/.eslintrc.json
  pmserver/test/unittest/public/variables/users_test_data.js
  pmserver/test/unittest/routes/users_public.test.js
Labels: test

#27 Fix error sign up without hashing password
  pmserver/controllers/userController.js
Labels: bug

#29 Fix hoek security vulnerable
  pmserver/package-lock.json
  pmserver/package.json
Labels: bug

#30 Add inline API documentation
  .eslintignore
  .gitignore
  .stylelintignore
  README.md
  apidoc.json
  package.json
  pmserver/app.js
  pmserver/bin/www
  pmserver/controllers/itemController.js
  pmserver/package-lock.json
  pmserver/routes/index.js
  pmserver/routes/items.js
  pmserver/routes/orders.js
  pmserver/routes/protected.js
  pmserver/routes/public.js
  pmserver/routes/users_protected.js
  pmserver/routes/users_public.js
  scripts/install-hooks.bash
  scripts/pre-push.bash
  scripts/run-tests.bash
Labels: API-doc

#31 Update readme
  README.md
Labels: setup

#32 Update README
  README.md
  package-lock.json
  package.json
Labels: setup

#34 Move orders routes to under protected routes and update APIDOC
  pmserver/app.js
  pmserver/routes/orders.js
Labels: Order

#35 Connect Order with User
  pmserver/controllers/orderController.js
  pmserver/models/orderModel.js
  pmserver/models/userModel.js
Labels: Order, User

#37 Fix npm run apidoc-deploy error
  package.json
Labels: API-doc, setup

#38 Minor improvements: add fullName virtual fields; move eslint, surge to dev; change req.decoded to req.token; res.send for GET user list errors
  package-lock.json
  package.json
  pmserver/controllers/orderController.js
  pmserver/controllers/userController.js
  pmserver/middlewares/tokenAuthentication.js
  pmserver/models/userModel.js
Labels: User, enhancement, setup
